@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&subset=latin-ext');

html {
  font-family: 'Comfortaa', sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100vw;
  height: 100vh;

  margin: 0;
  padding: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.list {
  padding: 0;

  &--unstyled {
    list-style: none;
  }

  &--horizontal {
    li {
      display: inline-block;
    }
  }
  
}

.level-list {
  list-style: none;
  padding: 0;

  text-align: center;

  li {
    display: inline-block;
  }
}

.btn {
  display: inline-block;

  background-color: #7cd1f9;
  color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 24px;
  margin: 0;
  cursor: pointer;


  &-menu {
    background: url('../assets/icons/menu.svg') no-repeat center;
    
    width: 60px;
    height: 60px;

    position: fixed;
    top: 0;
    right: 0;

    border: none;
  }

  &--menu-item {
    font-family: 'Comfortaa', sans-serif;
    font-size: 25px;
    background: none;
    color: black;
    outline: none;
    border: none;
    margin: 8px;
    box-shadow: none;

    &:active, &:focus {
      box-shadow: none;
    }
  }

  &-puzzle {
    width: 1.65em;
    height: auto;

    font-size: 2em;
    line-height: 1.5em;
    margin: 0.1em;
    padding: 0;

    border: 1px solid #999;
    position: relative;

    background: white;
    color: #333;

    &--completed {
      border-width: 2px;
      border-color: rgb(98, 187, 70);
      &:after {
        content: '';
        width: 20px;
        height: 20px;
        background: url('../assets/icons/check-circle.svg') no-repeat center;
        background-color: white;
        border: 2px solid white;
        border-radius: 50%;
        background-size: contain;
        display: block;

        position: absolute;
        bottom: -6px;
        right: -6px;
      }
    }
  }
}

.layout {
  &--vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.menu-modal {
  .swal-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.swal-footer {
  text-align: center;
}