<menu menu-items="$ctrl.menuItems"></menu>

<div class="layout layout--vertical">
    <h2>Select a Puzzle</h2>
    <div ng-repeat="gridGroup in ::$ctrl.gridsInGroups" class="level-group">
        <h3 class="level-group__header">{{gridGroup.name}} <span class="level-group__subheader">({{::$ctrl.getNumberOfCompletedGridsInGroup(gridGroup)}}/{{::gridGroup.grids.length}})</span></h3>
        <ul class="level-list">
            <li ng-repeat="grid in ::gridGroup.grids">
                <button ui-sref="puzzle({grid: grid})" class="btn btn-puzzle" ng-class="{'btn-puzzle--completed' : grid.progress.completed}">{{$index + 1}}</button>
            </li>
        </ul>
    </div>
    
</div>