<board ng-model="$ctrl.board"
       groups-in-rows="$ctrl.puzzle.groupsInRows"
       groups-in-columns="$ctrl.puzzle.groupsInColumns"
       toggle-cell-fill-action="$ctrl.puzzle.toggleCellFill(cell)"
       toggle-cell-flag-action="$ctrl.puzzle.toggleCellFlag(cell)"
       toggle-using-dragged-cell-action="$ctrl.puzzle.applyStateOfDraggedCell(draggedCell, cell)"
       drag-end-action="$ctrl.puzzle.checkIfPuzzleIsSolved()"></board>

<h1 ng-show="$ctrl.puzzle.completed">Complete</h1>

<!--Undo-->
<!--Restart-->