<table class="lgg-board lgg-board--{{::$ctrl.size}}" ng-mouseleave="$ctrl.onToggleDragEnd({cell: cell})">
    <thead>
        <tr>
            <td></td>
            <th ng-repeat="column in ::$ctrl.cellColumns" 
                class="lgg-board__column" 
                ng-class="{'lgg-board__column--completed' : column.completed}"
                ng-click="$ctrl.flagCellGroup(column)">
                <div ng-repeat="group in ::column.desiredCellGroups" class="lgg-board__group">{{group.size}}</div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="row in ::$ctrl.cellRows">
            <th class="lgg-board__row" 
                ng-class="{'lgg-board__row--completed' : row.completed}"
                ng-click="$ctrl.flagCellGroup(row)">
                <span ng-repeat="group in ::row.desiredCellGroups" class="lgg-board__group">
                    {{group.size}}
                </span>
            </th>
            <td ng-repeat="cell in ::row.cells">
                <cell ng-model="cell"
                      toggle-fill-action="$ctrl.toggleCellFill(cell)"
                      toggle-flag-action="$ctrl.toggleCellFlag(cell)"
                      drag-start-action="$ctrl.dragStart(cell)"
                      drag-move-action="$ctrl.dragMove(x, y)"
                      drag-end-action="$ctrl.dragEnd()"></cell>
            </td>
            <th>
                <span ng-repeat="group in ::row.desiredCellGroups" class="lgg-board__group lgg-board__group--phantom">
                    {{group.size}}
                </span>
            </th>
        </tr>

        <tr>
            <td></td>
            <th ng-repeat="column in ::$ctrl.cellColumns">
                <div ng-repeat="group in ::column.desiredCellGroups" class="lgg-board__group lgg-board__group--phantom">{{group.size}}</div>
            </th>
        </tr>
    </tbody>
</table>