<table class="lgg-board" ng-mouseleave="$ctrl.onToggleDragEnd({cell: cell})">
    <tbody>
        <tr>
            <td></td>
            <th ng-repeat="groupsInColumn in ::$ctrl.groupsInColumns">
                <div ng-repeat="group in ::groupsInColumn">{{group.size}}</div>
            </th>
        </tr>

        <tr ng-repeat="row in ::$ctrl.cellsInRows">
            <th>
                <span ng-repeat="group in ::$ctrl.groupsInRows[$index]">
                    {{group.size}}
                </span>
            </th>
            <td ng-repeat="cell in ::row">
                <cell ng-model="cell"
                      toggle-fill-action="$ctrl.toggleCellFill(cell)"
                      toggle-flag-action="$ctrl.toggleCellFlag(cell)"
                      drag-start-action="$ctrl.dragStart(cell)"
                      drag-move-action="$ctrl.dragMove(x, y)"
                      drag-end-action="$ctrl.dragEnd()"></cell>
            </td>
        </tr>
    </tbody>
</table>