<table class="lgg-board" ng-mouseleave="$ctrl.clearDraggedCell()">
    <tbody>
        <tr>
            <td></td>
            <th ng-repeat="groupsInColumn in $ctrl.board.groupsInColumns">
                <div ng-repeat="group in groupsInColumn">{{group.size}}</div>
            </th>
        </tr>
        <tr ng-repeat="row in $ctrl.board.cellsInRows">
            <th>
                <span ng-repeat="group in $ctrl.board.getGroupsForRow($index)">
                    {{group.size}}
                </span>
            </th>
            <td ng-repeat="cell in row track by $index">
                <cell cell="cell"
                      do-primary-action="$ctrl.toggleCellFill(cell)"
                      do-secondary-action="$ctrl.toggleCellFlag(cell)"
                      accept-drag="$ctrl.isCellAcceptingDrag(cell)"
                      do-drag-action="$ctrl.toggleDragState(cell)"
                      do-drag-end-action="$ctrl.clearDraggedCell()"
                ></cell>
            </td>
        </tr>
    </tbody>
</table>